{% extends "layout.html" %}



{% block content %}


<br>
<br>
<br>
<h1><center><u>ENDPAGE</u></center></h1>
<br>
<br>
<br>
<div class="p-3 mb-2 bg-dark text-white">
    <div>
        <p><strong>{{message}}</strong></p>
  
      </div>
      <br>
        <br>
        <br>
</div>

<center><a href="http://localhost:5000/">Home Page</a></center>

{% endblock %}