{% extends 'base.html' %}
{% block title %} AddStudents {% endblock title %}
{% block body %}
    <div class="container my-3">
        <h2>Add Students</h2><br>
    <form action="/myadmin" method="POST">
      <div class="mb-3">
      <label>Enter your Student Roll No</label>
        <input type="text"  name="rollno" required><br>
      </div>

<div class="mb-3">
    <label>Enter your Student Full Name</label>
        <input type="text" name="name" required><br>
</div>

      <div class="mb-3">
    <label>Enter your EmailID</label>
        <input type="text" name="email" required><br>
      </div>
      <div class="mb-3">

    <label>Enter your Mobile Number</label>
        <input type="text" name="mobile" required><br>
      </div>
      <div class="mb-3">

    <label>Enter your Maths Marks</label>
    <input type="text" name="math_marks" required><br>
      </div>
      <div class="mb-3">
    <label>Enter your Science Marks</label>
    <input type="text" name="science_marks" required><br>
      </div>
      <div class="mb-3">
    <label>Enter your English Marks</label>
    <input type="text" name="english_marks" required><br>
      </div>

    <input type="submit" class="btn btn-outline-success" name="register">

    </form>
    </div>


    <div class="container my-3">
     <h3> Details </h3>

  {% if student_datas|length==0 %}
   <div class="alert alert-dark" role="alert">
  No Record....Please Add Students Information
   </div>
  {% else %}
        <table class="table">
  <thead>
    <tr>
        <th scope="=col">Sr. No</th>
      <th scope="col">Roll No.</th>
      <th scope="col">Name</th>
      <th scope="col">Email ID</th>
        <th scope="col">Mobile</th>
        <th scope="col">Math Marks</th>
        <th scope="col">Science Marks</th>
        <th scope="col">English Marks</th>
        <th scope="col">Actions</th>
    </tr>
  </thead>

  {% for student_data in student_datas %}
  <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{student_data.rollno}}</td>
      <td>{{student_data.name}}</td>
      <td>{{student_data.email}}</td>
      <td>{{student_data.mobile}}</td>
      <td>{{student_data.math_marks}}</td>
      <td>{{student_data.science_marks}}</td>
      <td>{{student_data.english_marks}}</td>
      <td>
          <a href="/update/{{student_data.rollno}}" type="button" class="btn btn-outline-info btn-sm mx-1">Update</button>
          <a href="/delete/{{student_data.rollno}}" type="button" class="btn btn-outline-danger btn-sm mx-1">Delete</button>
      </td>
    </tr>

{% endfor %}

  </tbody>

</table>
  {% endif %}
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
 {% endblock body %}