<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: rgb(230, 227, 227);
}

.title {
  color: rgb(75, 70, 70);
  font-size: 18px;
}


a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

</style>
</head>
<body>

<h2 style="text-align:center">Report Card - {{student_data.name}}</h2>

<div class="card">
  <h2>Roll no - {{student_data.rollno}}</h2>
  <p class="title">Fynd Academy</p>
  <p class ="a">Name : {{student_data.name}} <br>
    Email : {{student_data.email}}<br>
    Mobile : {{student_data.mobile}}<br>
    Maths : {{student_data.math_marks}}<br>
    English : {{student_data.english_marks}}<br>
    Science : {{student_data.science_marks}}<br>
    Total : {{student_data.math_marks + student_data.english_marks + student_data.science_marks}}</p>
</div>

</body>
</html>