{% extends 'base.html' %}
{% block title %} AddStudents {% endblock title %}
{% block body %}
    <div class="container my-3">
        <h2>Update Students</h2><br>
    <form action="/update/{{student_data.rollno}}" method="POST">
      <div class="mb-3">
      <label>Enter your Student Rollno</label>
        <input type="number" name="rollno" value="{{student_data.rollno}}"><br>
      </div>

    <div class="mb-3">
    <label>Enter your Student Name</label>
        <input type="text" name="name" value="{{student_data.name}}"><br>
    </div>

      <div class="mb-3">
    <label>Enter your EmailID</label>
        <input type="text" name="email" value="{{student_data.email}}"><br>
      </div>

      <div class="mb-3">
    <label>Enter your Mobile Number</label>
        <input type="text" name="mobile" value="{{student_data.mobile}}"><br>
      </div>

      <div class="mb-3">
    <label>Enter your Maths Marks</label>
    <input type="text" name="math_marks" value="{{student_data.math_marks}}"><br>
      </div>

      <div class="mb-3">
    <label>Enter your Science Marks</label>
    <input type="text" name="science_marks" value="{{student_data.science_marks}}"><br>
      </div>

      <div class="mb-3">
    <label>Enter your English Marks</label>
    <input type="text" name="english_marks" value="{{student_data.english_marks}}"><br>
      </div>

        <input type="submit" class="btn btn-outline-dark"></input>

    </form>
    </div>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
 {% endblock body %}